.cart-container {
    position: absolute;
    right: 0;
    top: 0; 
    z-index: 5;
    padding: var(--gpad);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 600px;
    height: 90%;
    background-color: #fff;
    border-bottom-left-radius: 3rem;
    gap: 5px;
}

.cart-container .title {
    text-align: center;
    margin-bottom: 10px;
}

.cart-overview {
    list-style: none;
    border-bottom: 2px solid #000;
    max-height: 50%;
    overflow-y: auto;
}

.cart-item {
    padding: .1rem .5rem 0 .5rem;
    display: flex;
    gap: 5%;
    align-items: center;
    border-bottom: 2px solid rgba(0,0,0,0.75);
}

.cart-container .thumbnail {
    justify-self: flex-start;
    max-width: 100px;
    min-width: 100px;
}

.cart-container .cart-name {
    text-align: left;
    justify-self: center;
}

.cart-total-price {
    display: block;
    text-align: center;
    margin-bottom: 5px;
    margin-top: 5px;
}

.checkout {
    border: 2px solid var(--primary);
    background-color: var(--primary);
    padding: .2rem 1rem .2rem 1rem;
    border-radius: .5rem;
    justify-content: center;
    cursor: pointer;
    width: 100%;
    margin-bottom: 35px;
}

.checkout:hover {
    transform: translateY(2px);
    transition: all 150ms ease-in;
}

.disclaimer-title{
    text-align: center;
    color: red;
    border-bottom: 2px solid red;
}

.disclaimer {
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: red;
    padding-top: .5rem;
    padding-bottom: 1.5rem;
}

.close {
    display: flex;
    justify-content: flex-end;
}

.closebtn {
    cursor: pointer;
    font-size: 1.5rem;
}

.closebtn:hover {
    transform: translateY(1px);
    transition: all 150ms ease-in;
}

.cart-active {
    animation: slide-in 500ms ease-in-out;
    animation-fill-mode: forwards;
    box-shadow: rgba(17, 17, 26, 0.6) 0px 8px 24px, rgba(17, 17, 26, 0.8) 0px 16px 56px, rgba(17, 17, 26, 1) 0px 24px 80px;
}

.cart-deactive {
    box-shadow: rgba(17, 17, 26, 0.6) 0px 8px 24px, rgba(17, 17, 26, 0.8) 0px 16px 56px, rgba(17, 17, 26, 1) 0px 24px 80px;
    animation: slide-out 500ms ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes slide-in {
    from {transform: translateX(100%);}
    to {transform: translateX(0%);}
}

@keyframes slide-out {
    from {transform: translateX(0%);}
    to {transform: translateX(100%); display: none; box-shadow: none;}
}

#root.preload * {
    animation-duration: 0s !important;
}

.cart-container button {
    cursor: pointer;
}

.cart-wrapper{
    width: 100%;
    margin-bottom: 1rem;
}

.cart-alter-wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 5%;
}

.cart-alter {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 1.5rem;
    width: 1.5rem;
    background: #fff;
    border: 1px solid #000;
    border-radius: .2rem;
    color: #000;
    font-size: 1.25rem;
    padding: .3rem;
}

/* Media */
@media (max-width: 750px){
    .cart-container {
        width: 400px;
    }
    .cart-item {
        grid-template-columns: minmax(25px, 50px) 1.5fr 1.5fr 1fr;
    }
    .cart-container .thumbnail {
        min-width: 75px;
        max-width: 75px;
    }
    .disclaimer {
        padding-top: .3rem;
        font-size: .8rem;
    }
}