.cart-container {
    position: absolute;
    right: 0;
    top: 0; 
    z-index: 5;
    padding: var(--gpad);
    display: inline-block;
    width: 600px;
    height: fit-content;
    background-color: #fff;
}

.cart-container .title {
    width: 100%;
    text-align: center;
}

.cart-overview {
    list-style: none;
    border-bottom: 2px solid #000;
}

.cart-item {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 6fr 2fr 1fr;
    padding: .1rem .5rem 0 .5rem;
    align-items: center;
}

.cart-container .thumbnail {
    width: 100%;
    justify-self: flex-start;
}

.cart-container .cart-name {
    width: 60%;
    text-align: left;
    justify-self: center;
}

.cart-total-price {
    width: 100%;
    display: block;
    text-align: center;
}

.checkout {
    border: 2px solid var(--primary);
    background-color: var(--primary);
    padding: .2rem 1rem .2rem 1rem;
    border-radius: .5rem;
    justify-content: center;
    width: 100%;
    cursor: pointer;
}

.checkout:hover {
    transform: translateY(2px);
    transition: all 150ms ease-in;
}

.disclaimer-title{
    width: 100%;
    text-align: center;
    color: red;
    border-bottom: 2px solid red;
}

.disclaimer {
    font-size: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: red;
}

.close {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.closebtn {
    cursor: pointer;
    font-size: 1.5rem;
}

.closebtn:hover {
    transform: translateY(1px);
    transition: all 150ms ease-in;
}

.cart-active {
    animation: slide-in 500ms ease-in-out;
    animation-fill-mode: forwards;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
}

.cart-deactive {
    box-shadow: rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px, rgba(17, 17, 26, 0.1) 0px 24px 80px;
    animation: slide-out 500ms ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes slide-in {
    from {transform: translateX(100%);}
    to {transform: translateX(0%);}
}

@keyframes slide-out {
    from {transform: translateX(0%);}
    to {transform: translateX(100%); display: none; box-shadow: none;}
}

#root.preload * {
    animation-duration: 0s !important;
}

.cart-remove {
    cursor: pointer;
}

/* Media */
@media (max-width: 750px){
    .cart-container {
        width: 400px;
    }
}