@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Poppins&family=Skranji&display=swap');

html,
body,
*::before,
*::after,
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;

  /* Variables */
  --text: #000;
  --primary: #19A7CE;
  --secondary: #AFD3E2;
  --accent: #146C94;
  --background: #F6F1F1;
  --gpad: 1rem 2rem 1rem 2rem;;

  background-color: var(--background);
  color: var(--text);
  font-family: Poppins, 'sans-serf';
}

a {
  text-decoration: none;
}

#root {
  width: 100vw;
  height: 100vh;    
  overflow-x: hidden;
  overflow-y: scroll;
}

button {
  background-color: transparent;
  border-width: 0;
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  line-height: inherit;
  padding: 0;
}