.navbar {
    width: 100vw;
    min-height: fit-content;
    max-height: 10%;
    display: flex;
    justify-content: space-between;
    padding: var(--gpad);
    border-bottom: 2px solid #000;
    position: sticky;
}

.navbar .nav-links {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-links > * {
    padding: 0 .5rem 0 .5rem;
    cursor: pointer;
}
